torch==1.12.1
torchvision==0.13.1
pytorch-lightning==1.8.0
torchmetrics==0.10.2
segmentation-models-pytorch==0.3.0
timm==0.4.12
matplotlib==3.6.2
Pillow==9.3.0
pandas==1.5.3
einops
faiss-gpu
h5py
jsonargparse[signatures]